.dashboard-card {
  width: 100%;
  margin: 4rem 0;
  padding: 1rem;
  background-color: white;
}

.title-header {
  margin-bottom: 40px;
  font-size: larger;
  font-weight: 500;
}

.loading-container {
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
}

ag-charts {
  /* min-width: 300px;  */
  width: auto; 
  height: 400px;
}
