.hours-container {
  display: flex;
  justify-content: center;
  align-items: center;
  /* flex-direction: row; */
  gap: 25px;
  background-color: white;
}

.card-container {
  width: 100%;
  padding: 1rem;
  background-color: white;
  padding-bottom: 30px;
  padding-top: 30px;
}

.bar-chart-container {
  display: flex;
  background-color: white;
  align-items: center;
  width: 65%;
  box-shadow: none;
  border: 1px solid #ddd;
  border-radius: 4px; 
}

.pie-chart-container {
  display: flex;
  background-color: white;
  align-items: center;
  justify-content: center;
  width: 35%;
  box-shadow: none;
  border: 1px solid #ddd;
  border-radius: 4px;    
}

h3 {
  font-size: 1.2rem;
  color: #333;
  margin-bottom: 10px;
}

.title-header {
  margin-bottom: 40px;
  font-size: larger;
  font-weight: 500;
}

@media (max-width: 768px) {
  .hours-container{
    flex-wrap: wrap;
  }
  .bar-chart-container {
    width: 100%;
  }
  .pie-chart-container {
    width: 100%;
  }
}