<mat-drawer-container autosize>
  <mat-drawer #drawer mode="over">
     <app-mobile-sidebar></app-mobile-sidebar>
  </mat-drawer>

  <!-- Main Content -->
  <mat-drawer-content>
    <div class="app-container">
      <app-sidebar></app-sidebar>

      <div class="main-content">
        <div class="header-container">
          <button
            class="menu-icon"
            mat-icon-button
            (click)="drawer.toggle()"
            aria-label="Menu"
          >
            <mat-icon>menu</mat-icon>
          </button>
          <app-header></app-header>
        </div>
<!-- linting fix change -->
        <div class="body-content">
          <div *ngIf="loading$ | async" class="spinner-container">
            <mat-progress-spinner color="primary" mode="indeterminate">
            </mat-progress-spinner>
          </div>
          <router-outlet *ngIf="!(loading$ | async)"></router-outlet>
          <!-- <app-dashboard></app-dashboard> -->
        </div>
      </div>
    </div>
  </mat-drawer-content>
</mat-drawer-container>
