<mat-card class="container-card">
  <mat-toolbar color="primary" class="projects-toolbar">
    <div class="info-container">
      <div>
        <span class="label">Client:</span>
        <span class="client-name">Acme Corp</span>
      </div>
      <!-- <div>
      <span class="label">Fiscal Period:</span>
      <mat-form-field appearance="fill" class="fiscal-period-selector">
        <mat-label>Select Fiscal Year</mat-label>
        <mat-select [(value)]="selectedFiscalYear">
          <mat-option *ngFor="let year of fiscalYears" [value]="year">
            {{ year }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div> -->
    </div>

    <!-- Spacer to push buttons to the right -->
    <span class="spacer"></span>

    <!-- Buttons -->
    <button mat-raised-button color="accent" routerLink="/projects/create">
      + Create New Project
    </button>
    <button mat-raised-button color="primary" routerLink="/projects/archive">
      Archived Projects
    </button>
  </mat-toolbar>
</mat-card>

<div class="projects-content">
  <router-outlet></router-outlet>
</div>
