<mat-card class="sidebar">
  <app-logo></app-logo>
  <app-user-profile></app-user-profile>

  <mat-expansion-panel
    *ngFor="let item of generalNavigation"
    [expanded]="item.expanded"
    class="expansion-pannel"
  >
    <mat-expansion-panel-header>
      <mat-panel-title> {{ item.name }} </mat-panel-title>
    </mat-expansion-panel-header>
    <mat-list>
      <mat-list-item *ngFor="let subItem of item.subItems">
        <div class="list-item-container">
          <mat-icon matListIcon>{{ subItem.icon }}</mat-icon>
          <span>{{ subItem.name }} </span>
        </div>
      </mat-list-item>
    </mat-list>
  </mat-expansion-panel>

  <mat-expansion-panel
    *ngFor="let item of tools"
    [expanded]="item.expanded"
    class="expansion-pannel"
  >
    <mat-expansion-panel-header>
      <mat-panel-title> {{ item.name }} </mat-panel-title>
    </mat-expansion-panel-header>
    <mat-list>
      <mat-list-item *ngFor="let subItem of item.subItems">
        <div class="list-item-container">
          <mat-icon matListIcon>{{ subItem.icon }}</mat-icon>
          <span class="list-item-text">{{ subItem.name }}</span>
        </div>
      </mat-list-item>
    </mat-list>
  </mat-expansion-panel>
</mat-card>
